html, body {
    margin: 0;
    height: 100%;
    display: flex;
    overflow: hidden;
}
body {
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: #000;
    font-family: "Helvetica", Verdana;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    z-index: 1;
}
nav > div {
    opacity: .2;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 60%;
    border-radius: 5px;
    filter: invert(1);
    transition: all .2s ease-in-out;
}
nav > div:hover {
    filter: invert(0);
    background-color: #fff;
}
nav > div:active {
    transition: none;
    filter: invert(.2);
    transform: scale(.9);
    background-color: #fff;
}
.fullscreen-button { background-image: url("../img/fullscreen.svg"); }
.help-button { background-image: url("../img/help.svg"); }

#help-popup {
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: collapse;
    z-index: 2;
}
#help-popup.visible { visibility: visible;; }
#help-popup > .overlay {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(0);
    transition: all .4s ease-in-out;
}
#help-popup.visible > .overlay { display: block; backdrop-filter: blur(4px); }
#help-popup > .popup-body {
    position: absolute;
    width: 60%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    left: calc(20% - 50px);
    top: calc(30% - 20px);
    color: #ccc;
    border-radius: 10px;
    padding: 20px 50px;
    border: 2px solid #2a2a2a;
    background: #333;
    box-shadow: 0 0 40px #000;
    transform: scale(1.05);
    transition: all .2s ease-in-out;
}
#help-popup.visible > .popup-body {
    opacity: 1;
    transform: scale(1);
}
#close-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background: url("../img/times.svg") no-repeat center;
    background-size: auto 40%;
    border-radius: 10px;
    cursor: pointer;
    transition: all .1s ease-in-out;
}
#close-button:hover { opacity: .6; }
.popup-body > p {
    margin: auto 0;
    font-size: 16pt;
}
.popup-body > img {
    width: 60px;
    height: 60px;
}

#play-button {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -100px;
    background: url("../img/play.png") no-repeat;
    background-size: cover;
    opacity: .6;
    transition: all .2s ease-in-out;
}
#play-button.active {
    opacity: 0;
    transform: scale(1.2);
}

video {
    flex: 1;
    max-width: 100vw;
}

@media (max-width: 180vh) {
    video {
        max-width: none;
        height: 100vh;
    }
}
